/LICENSE.txt
/classpath-include
/descriptor.json
/google-api-services-oauth2-v2-rev93-1.18.0-rc-javadoc.jar
/google-api-services-oauth2-v2-rev93-1.18.0-rc-sources.jar
/google-api-services-oauth2-v2-rev93-1.18.0-rc.jar
/google-api-services-oauth2-v2-rev93-1.18.0-rc.jar.properties
/proguard-google-api-client.txt
/readme.html
